@using System.Web;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebVersion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebVersion.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="Navigation-Bar">

        <div class="Main-Label">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-page="MainAnimePage"><label>AnTrap</label></a>
            }
            else
            {
                <a><label>AnTrap</label></a>
            }
            <form method="post" action="@Url.Action("Selected", "Home")">
                <select id="selectPiece" name="selectedValue" onchange="this.form.submit()">
                    <option value="0"></option>
                    <option value="anime">Аниме</option>
                    <option value="manga">Манга</option>
                    <option value="ranobe">Ранобэ</option>
                </select>
            </form>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            @await Component.InvokeAsync("UserButton");
        }
        else
        {
            <div class="Buttons">
                <a asp-page="Index"><button>Вход</button></a>
                <a asp-page="Index"><button>Регистрация</button></a>
            </div>
        }
    </div>

    <div class="Body-Content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>