@page
@model WebVersion.Pages.UserProfileModel
@{
}


<html>
    <head>
    <link rel="stylesheet" type="text/css" href="~/css/UserProfileStyle.css" asp-append-version="true" />
    </head>
<body>
    <div class="MainContainer">

        <div class="Container1">

            <form method="post" asp-page-handler="UserEdit">

                <div class="UserInformContainer">

                    <div class="NickAndPictureContainer">

                        <img src=@Model.OldImageSource alt="Отсутствует">

                        <div class="LabelAndInput">

                            <label class="UserLabel">Никнейм</label>
                            <input name="UserLogin" type="text" value="@User.Identity.Name" />

                        </div>

                    </div>

                    <div class="ChangePasswordContainer">

                        <div class="LabelAndInput">

                            <label class="UserLabel">Email</label>
                            <input name="UserEmail" type="text" value="@Model.OldEmail" />

                        </div>

                        <div>

                            <label class="UserLabel" id="ChangePassword">Изменить пароль</label>

                        </div>

                        <div class="LabelAndInput">

                            <label class="UserLabel">Новый пароль</label>
                            <input name="NewPassword1" type="text" />

                        </div>

                        <div class="LabelAndInput">

                            <label class="UserLabel">Повторить новый пароль</label>
                            <input name="newPassword2" type="text" />

                        </div>

                    </div>

                    <input type="submit" class="SaveButton" value="Сохранить">

                    <label>@Model.ErrorMessage</label>

                </div>

            </form>

            <button class="DeleteAccButton">Удалить аккаунт</button>


        </div>


        <div class="SettingsContainer">

            <label class="UserLabel">Настройки</label>

            <button>О AnTrap</button>

            <button>Центр поддержки</button>

        </div>

    </div>
</body>
</html> 
