body {
    background-color: black;
}

.Page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Container1 {
    display: flex;
    flex-direction: column;
    background-color: #1D252A;
    border-radius: 10px;
    min-width: 500px;
    max-width: 1500px;
}

.MainInformation {
    display: flex;
}

.AnimeIdInformation {
}

.ImageAndSelect {
    display: flex;
    flex-direction: column;
}
    .ImageAndSelect form {
        max-width: 250px;
        margin: 5px;
    }
    .ImageAndSelect form select {
        width: 250px;
    }
.ImageAndSelect img {
    margin: 10px;
}

.Screens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.Screens img {
    margin: 5px;
    max-width: 400px;
    max-height: 300px;
}

.Videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    margin: 5px;
}

.OtherAnimes {
    display: flex;
    flex-direction: column;
}

.OtherAnimes label {
    font-size: 16px;
    max-width: 200px;
}
    .OtherAnimes form {
        max-width: 150px;
        margin: 5px;
    }
    .OtherAnimes form select {
        width: 150px;
    }
.OtherAnimes img {
    width: 150px;
    height: 200px;
}

.Related {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.Related .RelatedAnime {
    display: flex;
    height: 300px;
    width: 350px
}
.Related .RelatedManga {
    display: flex;
    height: 300px;
    width: 350px
}

.Similar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.Similar .SimilarAnime {
    display: flex;
    height: 300px;
    width: 350px
}
.Similar .SimilarAnime .SimilarAnimeInformation {
    display: flex;
    flex-direction: column;
}

.LabelAndInput {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

label {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

hr {
    border: 1px solid black;
    margin: 5px;
}

#Description {
    font-size: 16px;
    margin: 10px;
}

#AnimeIdEnglishName {
    font-size: 16px;
    margin-top: 1px;
}

#AnimeIdName {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 5px;
    margin-bottom: 0px;
    max-width: 700px;
}

#RelatedLabel {
    font-size: 20px;
    align-self: center;
}

#SimilarLabel {
    font-size: 20px;
    align-self: center;
}

#ScreensLabel {
    font-size: 20px;
    align-self: center;
}