.Page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.AuthorizationBox {
    display: flex;
    flex-direction: column;
    background-color: #1D252A;
    margin: 10px;
    border-radius: 10px;
}

    .AuthorizationBox .Authorization {
        font-size: 40px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin: 10px;
    }

    .AuthorizationBox .AuthAndRegist {
        text-align: left;
        margin: 10px;
    }

        .AuthorizationBox .AuthAndRegist .SwitchButton {
            font-size: 24px;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: transparent;
            border: none;
            border-bottom: 5px solid transparent;
        }

        .AuthorizationBox .AuthAndRegist .SwitchButton:hover {
            border-bottom: 5px solid white;
        }

    .AuthorizationBox .Content {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-content: center;
        margin: 10px;
    }

        .AuthorizationBox .Content .NicknameOrEmail {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }

        .AuthorizationBox .Content .Password1 {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }

        .AuthorizationBox .Content .Password2 {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }

        .AuthorizationBox .Content .RegistrButton {
            font-size: 20px;
            background-color: #218136;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 10px;
            margin-top: 50px;
            border: 0px;
        }

        .AuthorizationBox .Content input {
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 350px;
        }
