body {
    background-color: black;
}


.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container1 {
    display: flex;
    flex-direction: column;
}

.Container1 img {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 200px;
    margin: 20px;
}

.UserInformContainer {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: #1D252A;
    border-radius: 10px;
}

.NickAndPictureContainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.ChangePasswordContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.SaveButton {
    align-self: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    background-color: white;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Container1 .DeleteAccButton {
    width: 300px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    background-color: #A30101;
    align-self: center;
    margin-bottom: 5px;
}

.SettingsContainer {
    display: flex;
    flex-direction: column;
    background-color: #1D252A;
    border-radius: 10px;
    margin: 20px;
    align-self: first baseline;
    margin-top: 100px;
}

.SettingsContainer button {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 10px 30px;
}

.SettingsContainer label {
    border: none;
    border-bottom: 2px solid white;
}

.LabelAndInput {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.UserLabel {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 5px;
}

#ChangePassword {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
}

input {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
